html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-text: #001d3d;
  --primary-color-intro-text: #495057;
  --primary-color-text-c: #00b9fd;
  --primary-color-titles: #1d3557;
  --primary-color-slogan: #3d5a80;
  --primary-background-footer: #457b9d;
  --primary-background-body: #ffffff;
  --primary-background-object: #e9ecef;
  --primary-background-services--two: #e0eefe;
  --primary-background-services--one: #e7ecef;
  --primary-background-buttons: #2a6f97;
  --primary-background-buttons__hover: #274c77;
  --primary-background-scroll: #293241;
  --primary-border: #001f54;
  --width-container: 1100px;
  --font-titles: 'Inter', sans-serif;
  --font-text: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-background-scroll);
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--primary-background-body);
  color: var(--primary-color-text);
}

#root {
  min-height: 100vh;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  max-height: 1200px;
  font-family: var(--font-text);
  margin-bottom: 6.5rem;
  background-image: url(/public/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__hero {
  height: 5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__hamburger {
  visibility: hidden;
  display: none;
}

.intro__hero--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--width-container);
}

.intro__logo {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: var(--font-titles);
  text-transform: uppercase;
  /* letter-spacing: 0.5rem; */
  padding-left: 0.5rem;
  color: var(--primary-color-titles);
}

.intro__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

.intro__a {
  position: relative;
  font-family: var(--font-text);
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.intro__button {
  background-color: transparent;
  color: var(--primary-background-body);
  border: #fff solid 0.2rem;
  text-decoration: none;
  font-family: var(--font-text);
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s linear, transform 0.2s linear,
    color 0.2s linear;
}

.intro__button--blue {
  font-size: 1rem;
  padding: 0.5rem 1.7rem;
  border-radius: 1.7rem;
  border: none;
  outline: transparent 1px solid;
  background-color: var(--primary-background-buttons);
  color: var(--primary-background-body);
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.intro__button:active,
.contact__button:active {
  transform: scale(1.1, 1.1);
}

.intro__welcome {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__container {
  width: 100%;
  max-width: var(--width-container);
}

.intro__plant {
  width: 50%;
  height: auto;
  padding: 1rem;
}

.intro__title {
  font-family: var(--font-titles);
  font-weight: 900;
  font-size: 3.5rem;
  width: 325px;
  letter-spacing: -0.025rem;
  color: var(--primary-color-titles);
  margin-bottom: 0.5rem;
}

.intro__p {
  width: 300px;
  margin-bottom: 1.2rem;
  color: var(--primary-color-intro-text);
}

.intro__p--c {
  font-size: 2.3rem;
  color: var(--primary-color-text-c);
}

.intro__button:hover {
  color: var(--primary-color-text);
  background: #fff;
}

.intro__a::before {
  content: '';
  position: absolute;
  bottom: -4px;
  display: block;
  width: 100%;
  height: 3px;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  background-color: var(--primary-border);
  transition: clip-path 0.5s linear;
}

.intro__a:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.intro__a:hover {
  color: var(--primary-border);
}

/* Container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
}

/* ! Servicios --------------------------------------------------------------------- */

.services {
  padding: 1rem;
  margin-bottom: 6.5rem;
}

.services__container {
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.services__title,
.about__title {
  position: relative;
  display: inline-block;
  font-family: var(--font-titles);
  font-weight: 800;
  font-size: clamp(2rem, 1.5vw + 1rem, 3rem);
  color: var(--primary-color-titles);
  margin-bottom: 2rem;
}

.services__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2.5rem;
  column-gap: 1.5rem;
  text-align: start;
}

.services__article {
  position: relative;
  width: 30%;
  max-width: 371px;
  min-width: 250px;
  min-height: 250px;
  font-family: var(--font-text);
  color: var(--primary-color-text);
  background-color: var(--primary-background-services--one);
  padding: 1.5rem;
}

.services__article:nth-child(even) {
  background-color: var(--primary-background-services--two);
}

.services__img {
  position: absolute;
  top: -1.7rem;
  width: 2.7rem;
  height: 2.7rem;
}

.insurance {
  width: 3rem;
  height: 3rem;
}
.services__sub {
  font-size: 1.2rem;
  font-family: var(--font-titles);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.services__p {
  font-size: 1rem;
  line-height: 1.4rem;
}

/* ! Object **************************************************************************** */

.object {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-text);
  color: var(--primary-color-text);
  background-color: var(--primary-background-object);
  min-height: 60vh;
  padding: 1rem;
  margin-bottom: 6.5rem;
}

.object__container {
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
}

.object__title,
.team__title {
  position: relative;
  font-family: var(--font-titles);
  font-weight: 800;
  font-size: clamp(2rem, 1.5vw + 1rem, 3rem);
  text-align: end;
  color: var(--primary-color-titles);
  margin-bottom: 2rem;
}

.object__content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25%;
}

.object__div {
  width: 500px;
}

.object__p {
  line-height: 1.7rem;
  text-align: end;
}

.object__p:not(:last-child) {
  margin-bottom: 1rem;
}

.object__est {
  font-size: 2.3rem;
  font-weight: 700;
  font-family: var(--font-text);
  margin-bottom: 1rem;
}

.object__article:not(:last-child) {
  margin-bottom: 2rem;
}

.object__des {
  opacity: 0.7;
}

/* *About ------------------------------------------------------------------------- */

.about {
  font-family: var(--font-text);
  color: var(--primary-color-text);
  margin-bottom: 6.5rem;
  padding: 1rem;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
}

.about__content {
  width: 40%;
  min-width: 300px;
}

.about__paragraph {
  margin-bottom: 1rem;
  line-height: 1.7rem;
}

.about__paragraph abbr {
  text-decoration: none;
}

.about__paragraph:nth-child(4) {
  margin-bottom: 0;
}

.about__figure {
  width: 60%;
  min-width: 300px;
}

.about__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* > Contacto ------------------------------------------------------------------------- */

.contact {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font-text);
  color: var(--font-text);
  padding: 1rem;
}

.contact__p {
  font-size: 2.7rem;
  font-weight: 800;
  width: 450px;
}

.contact__button {
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--primary-background-body);
  background-color: var(--primary-background-buttons);
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s linear, transform 0.2s linear;
}

/* ! Team **************************************************************** */

.team {
  font-family: var(--font-text);
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.5rem;
  padding: 1rem;
}
.team__title {
  text-align: start;
}

.team__description {
  line-height: 1.7rem;
  max-width: 650px;
  margin-bottom: 2rem;
}

.team__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 1.5rem;
}

.team__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.block {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: red;
}

.team__fig {
  font-family: var(--font-titles);
  font-size: 1rem;
  font-weight: 700;
}

/* + footer -------------------------------------------------------------- -------*/

.foo {
  height: 50vh;
  max-height: 200px;
  background-color: var(--primary-background-footer);
  padding: 1rem;
}

.foo__logo {
  font-size: 3rem;
  font-family: var(--font-titles);
  font-weight: 900;
  letter-spacing: 0.5rem;
  padding-left: 0.5rem;
  color: var(--primary-color-titles);
}

.foo__ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.foo__a {
  font-family: var(--font-text);
  text-decoration: none;
  color: var(--primary-color-text);
}

.foo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.foo__img {
  width: 1.5rem;
  transition: opacity 0.2s linear, transform 0.2s linear;
}

.foo__img:active {
  transform: scale(1.2, 1.2);
}

.contact__button:hover,
.intro__button--blue:hover {
  background-color: var(--primary-background-buttons__hover);
}

.foo__img:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .services {
    column-gap: 0.5rem;
  }

  .contact__p {
    font-size: 2rem;
    width: 350px;
  }

  .contact__button {
    font-size: 1.7rem;
  }

  .object__content {
    gap: 10%;
  }
}

@media screen and (max-width: 855px) {
  .object__content {
    gap: 0;
    justify-content: space-between;
  }

  .object__div {
    width: 400px;
  }
}

@media screen and (max-width: 850px) {
  .services__div {
    column-gap: 2.5rem;
  }

  .services__article {
    min-width: 300px;
  }

  .about__container {
    flex-direction: column;
    gap: 2rem;
  }

  .about__content {
    width: 80%;
  }

  .about__figure {
    width: 80%;
  }
}

@media screen and (max-width: 790px) {
  .intro__title {
    font-size: 3.25rem;
    width: 300px;
  }

  .intro__p--c {
    font-size: 2rem;
  }

  .intro__plant {
    width: 90%;
  }

  .intro__ul {
    gap: 1rem;
  }
}

@media screen and (max-width: 690px) {
  .intro__title {
    font-size: 3rem;
  }

  .intro__a,
  .intro__button {
    font-size: 0.9rem;
  }

  .intro__button {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
  }

  .services__div {
    column-gap: 0.5rem;
  }

  .services__article {
    min-width: 280px;
  }

  .intro__button--blue {
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
  }

  .about__content {
    width: 100%;
  }

  .about__figure {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .intro__title {
    font-size: 1.95rem;
    font-weight: 900;
  }

  .object__content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .object__div {
    width: 100%;
  }
}

@media screen and (max-width: 590px) {
  .services__article {
    min-width: none;
    max-width: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .intro__nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 450px;
    z-index: 20;
    background-color: var(--primary-background-body);
    transform: translateY(-450px);
    transition: transform 0.5s linear;
  }

  .intro__ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 2rem;
    height: 100%;
  }

  .intro__a {
    font-size: 1.25rem;
    color: var(--primary-color-text);
    border-bottom: 0.25rem solid var(--primary-color-text);
  }

  .intro__button {
    font-size: 1.3rem;
    color: var(--primary-color-text);
    border-color: var(--primary-color-text);
    padding: 0.5rem 1rem;
  }

  .intro__hamburger {
    position: relative;
    z-index: 30;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: transparent solid 1px;
    outline: transparent solid 1px;
    cursor: pointer;
  }

  .intro__hamburger > span {
    width: 100%;
    height: 3px;
    border-radius: 2.5rem;
    background-color: var(--primary-background-buttons);
    transition: all 0.5s linear;
    transform-origin: left;
  }

  .active span:first-child {
    transform: rotate(45deg);
  }

  .active span:nth-child(2) {
    opacity: 0;
  }

  .active span:last-child {
    transform: rotate(-45deg);
  }

  .active__nav {
    transform: translateY(0px);
  }

  .about__figure {
    width: 90%;
  }

  .team__article {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 375px) {
  .foo {
    height: 400px;
  }

  .foo__container {
    gap: 0.5rem;
  }

  .foo__nav:nth-child(2) .foo__ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .services__article {
    min-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .team__article {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 250px) {
  .team__article {
    flex-basis: 100%;
  }
}
