html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-text: #001d3d;
  --primary-color-intro-text: #495057;
  --primary-color-text-c: #005e99;
  --primary-color-titles: #1d3557;
  --primary-color-intro-title: #005e99;
  --primary-color-intro-a: #005e99;
  --primary-color-slogan: #3d5a80;
  --primary-background-footer: #457b9d;
  --primary-background-body: #ffffff;
  --primary-background-section: #dfe7fa;
  --primary-background-services--two: #e0eefe;
  --primary-background-services--one: #e7ecef;
  --primary-background-buttons: #2a6f97;
  --primary-background-buttons__hover: #274c77;
  --primary-background-scroll: #293241;
  --primary-border: #001f54;
  --width-container: 1100px;
  --font-titles: 'Inter', sans-serif;
  --font-text: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-background-scroll);
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--primary-background-body);
  color: var(--primary-color-text);
}

#root {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  max-height: 1200px;
  font-family: var(--font-text);
  background-image: url('./assets/background-intro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__hero {
  height: 5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__hamburger {
  visibility: hidden;
  display: none;
}

.intro__hero--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--width-container);
}

.intro__logo {
  max-width: 15rem;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.intro__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

.intro__a {
  position: relative;
  font-family: var(--font-text);
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-color-intro-a);
}

.intro__button {
  background-color: transparent;
  color: var(--primary-background-body);
  border: #fff solid 0.2rem;
  text-decoration: none;
  font-family: var(--font-text);
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s linear, transform 0.2s linear,
    color 0.2s linear;
}

.intro__button--blue {
  font-size: 1rem;
  padding: 0.5rem 1.7rem;
  border-radius: 1.7rem;
  border: none;
  outline: transparent 1px solid;
  background-color: var(--primary-background-buttons);
  color: var(--primary-background-body);
  text-decoration: none;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.intro__welcome {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 3.5rem;
}

.intro__container {
  width: 100%;
  max-width: var(--width-container);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro__plant {
  width: 80%;
  height: auto;
  padding: 1rem;
}

.intro__title {
  font-family: var(--font-titles);
  font-weight: 900;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: -0.025rem;
  max-width: 500px;
  color: var(--primary-color-intro-title);
  margin-bottom: 0.5rem;
}

.intro__p {
  max-width: 300px;
  margin-bottom: 1.2rem;
  color: var(--primary-color-intro-text);
}

.intro__p--c {
  font-size: 2.3rem;
  color: var(--primary-color-text-c);
}

.intro__a::before {
  content: '';
  position: absolute;
  bottom: -4px;
  display: block;
  width: 100%;
  height: 3px;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  background-color: var(--primary-border);
  transition: clip-path 0.5s linear;
}

.intro__a:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.intro__a:hover {
  color: var(--primary-border);
}

/* Container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
}

/* > Turismo ------------------------------------------------------------------------ */

.agency {
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 6.5rem;
}

.agency__container {
  max-width: var(--width-container);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.agency__figure {
  width: 6rem;
  height: auto;
}

.agency__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
  opacity: 0.8;
}

/* ! Servicios --------------------------------------------------------------------- */

.services {
  padding: 1rem;
  margin-bottom: 6.5rem;
  text-align: center;
}

.services__container {
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
}

.services__title,
.about__title,
.answer__title,
.object__title,
.team__title {
  position: relative;
  display: inline-block;
  font-family: var(--font-titles);
  font-weight: 800;
  font-size: clamp(2rem, 1.5vw + 1rem, 3rem);
  color: var(--primary-color-titles);
  margin-bottom: 2rem;
}

.services__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2.5rem;
  text-align: start;
}

.services__article {
  position: relative;
  width: 30%;
  max-width: 371px;
  min-width: 270px;
  min-height: 250px;
  font-family: var(--font-text);
  color: var(--primary-color-text);
  padding: 1.5rem;
  box-shadow: 0 0 1rem 0.2rem rgba(0 0 0 / 0.2);
  border-radius: 0.5rem;
}

.services__img {
  position: absolute;
  top: -1.7rem;
  width: 2.7rem;
  height: 2.7rem;
}

.insurance {
  width: 3rem;
  height: 3rem;
}

.services__sub {
  font-size: 1.2rem;
  font-family: var(--font-titles);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.services__p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.services__description {
  font-family: var(--font-text);
  line-height: 1.7rem;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

/* ! Object **************************************************************************** */

.object {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-text);
  color: var(--primary-color-text);
  min-height: 60vh;
  padding: 1rem;
  margin-bottom: 6.5rem;
}

.object__container {
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
}

.object__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.object__p {
  line-height: 1.7rem;
}

.object__p:not(:last-child) {
  margin-bottom: 1rem;
}

.object__figure {
  width: 60%;
}

.object__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* *About ------------------------------------------------------------------------- */

.about {
  font-family: var(--font-text);
  color: var(--primary-color-text);
  margin-bottom: 6.5rem;
  padding: 1rem;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
}

.about__content,
.object__div {
  width: 40%;
}

.about__paragraph {
  margin-bottom: 1rem;
  line-height: 1.7rem;
}

.about__paragraph abbr {
  text-decoration: none;
}

.about__paragraph:nth-child(4) {
  margin-bottom: 0;
}

.about__figure {
  width: 60%;
}

.about__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
/* ! statistics +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.statistics {
  font-family: var(--font-text);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40vh;
  background-color: var(--primary-background-section);
  margin-bottom: 6.5rem;
}

.statistics__container {
  width: 100%;
  max-width: var(--width-container);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.statistics__article {
  text-align: center;
}

.statistics__est {
  font-size: 2.3rem;
  font-weight: 700;
  font-family: var(--font-text);
  margin-bottom: 1rem;
}

.statistics__des {
  opacity: 0.7;
}

/* > Contacto ------------------------------------------------------------------------- */

.contact {
  width: 100%;
  min-height: 90vh;
  max-height: 1000px;
  background-image: url('./assets/image-two.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-text);
  color: var(--font-text);
  padding: 1rem;
  gap: 1rem;
  padding-top: 5%;
}

.contact__p {
  font-size: 2.7rem;
  font-weight: 800;
  font-family: var(--font-titles);
  text-align: center;
  width: 450px;
}

.contact__a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--primary-background-body);
  background-color: var(--primary-background-buttons);
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s linear, transform 0.2s linear;
}

.contact__figure {
  width: 80%;
  display: flex;
  justify-content: center;
}

.contact__img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* ! Team **************************************************************** */

.team {
  font-family: var(--font-text);
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.5rem;
  padding: 1rem;
}
.team__title {
  text-align: start;
}

.team__description {
  line-height: 1.7rem;
  max-width: 650px;
  margin-bottom: 2rem;
}

.team__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.team__article {
  text-align: center;
  width: 25%;
}

.team__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.team__img {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.team__fig {
  font-family: var(--font-titles);
  font-size: 1rem;
  font-weight: 700;
}

/* + PDFS ------------------------------------------------------------ */
.pdf {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;
}

.pdf__iframe {
  width: 60%;
  height: 50vh;
  max-height: 600px;
}

/* > Answer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.answer {
  position: relative;
  width: 100%;
  font-family: var(--font-text);
  background-color: var(--primary-background-section);
  padding: 1rem;
}

.answer__wave {
  height: 150px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: -5.5rem;
}

.answer__svg {
  height: 100%;
  width: 100%;
}

.answer__path {
  stroke: none;
  fill: var(--primary-background-section);
}

.answer__container {
  width: 100%;
  max-width: calc(var(--width-container) - 350px);
  margin-left: auto;
  margin-right: auto;
}

.answer__content {
  width: 100%;
}

.answer__content div:not(:last-child) {
  margin-bottom: 0.5rem;
}

.answer__h3 {
  margin-bottom: 0.25rem;
}

.answer__p {
  line-height: 1.5rem;
}

.answer__a {
  font-family: var(--font-text);
  font-weight: 700;
  color: var(--primary-color-text);
}

/* + footer -------------------------------------------------------------- -------*/

.foo {
  height: 50vh;
  max-height: 250px;
  background-color: var(--primary-background-footer);
  padding: 1rem;
}

.foo__logo {
  display: block;
  width: 15rem;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.foo__rif {
  font-family: var(--font-text);
}

.foo__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.foo__a {
  font-family: var(--font-text);
  color: var(--primary-color-text);
}

.foo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.foo__img {
  width: 1.5rem;
  transition: opacity 0.2s linear, transform 0.2s linear;
}

.foo__img:active {
  transform: scale(1.2, 1.2);
}

.foo__phones {
  text-align: center;
}

.foo__subtitle {
  font-family: var(--font-titles);
  margin-bottom: 0.5rem;
}

.foo__div {
  font-family: var(--font-text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact__a:hover,
.intro__button--blue:hover {
  background-color: var(--primary-background-buttons__hover);
}

.foo__img:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .intro {
    background-image: url('./assets/background-intro-two.jpg');
    background-size: cover;
    background-position: right center;
  }

  .intro__welcome {
    padding: 0;
    align-items: center;
  }

  .services {
    column-gap: 0.5rem;
  }

  .contact__p {
    font-size: 2rem;
    width: 350px;
  }
}

@media screen and (max-width: 850px) {
  .services__div {
    column-gap: 2.5rem;
  }

  .services__article {
    min-width: 300px;
  }

  .about__container,
  .object__content {
    flex-direction: column;
    gap: 2rem;
  }

  .object__content {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .about__content,
  .object__div {
    width: 100%;
  }

  .about__figure,
  .object__figure {
    width: 100%;
  }

  .team__article {
    width: 30%;
  }
}

@media screen and (max-width: 790px) {
  .intro__title {
    font-size: 4rem;
  }

  .intro__p--c {
    font-size: 2rem;
  }

  .intro__plant {
    width: 90%;
  }

  .intro__ul {
    gap: 1rem;
  }

  .pdf__iframe {
    width: 100%;
  }
}

@media screen and (max-width: 690px) {
  .intro__title {
    font-size: 3.5rem;
  }

  .intro__a,
  .intro__button {
    font-size: 0.9rem;
  }

  .intro__button {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
  }

  .services__div {
    justify-content: center;
    column-gap: 0.5rem;
  }

  .services__article {
    min-width: auto;
    width: 100%;
    max-width: 400px;
  }

  .intro__button--blue {
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
  }
}

@media screen and (max-width: 660px) {
  .team__article {
    flex-basis: 50%;
  }

  .agency__container {
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 590px) {
  .intro__nav {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 450px;
    z-index: 20;
    background-color: var(--primary-background-body);
    transform: translateY(-450px);
    transition: transform 0.5s linear;
    background-color: red;
  }

  .intro__ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 2rem;
    height: 100%;
  }

  .intro__a {
    font-size: 1.25rem;
  }

  .intro__button {
    font-size: 1.3rem;
    color: var(--primary-color-text);
    border-color: var(--primary-color-text);
    padding: 0.5rem 1rem;
  }

  .intro__hamburger {
    position: relative;
    z-index: 30;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: transparent solid 1px;
    outline: transparent solid 1px;
    cursor: pointer;
  }

  .intro__plant {
    width: 100%;
  }

  .intro__hamburger > span {
    width: 100%;
    height: 3px;
    border-radius: 2.5rem;
    background-color: var(--primary-background-buttons);
    transition: all 0.5s linear;
    transform-origin: left;
  }

  .active span:first-child {
    transform: rotate(45deg);
  }

  .active span:nth-child(2) {
    opacity: 0;
  }

  .active span:last-child {
    transform: rotate(-45deg);
  }

  .active__nav {
    transform: translateY(0px);
  }

  .statistics__container {
    flex-direction: column;
  }

  .foo__logo {
    font-size: 1.5rem;
  }

  .contact__p {
    font-size: 1.8rem;
  }

  .contact__a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .intro__title {
    font-size: 3rem;
  }

  .intro__button--blue {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    text-align: center;
    display: block;
  }

  .contact__a {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .intro__logo {
    width: 10rem;
  }

  .intro__title {
    font-size: 2.5rem;
  }

  .foo {
    min-height: 400px;
    max-height: auto;
  }

  .foo__container {
    gap: 0.5rem;
  }

  .foo__nav:nth-child(2) .foo__ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .services__article {
    min-width: auto;
    width: 100%;
  }

  .team__div {
    flex-direction: column;
  }

  .team__article {
    width: 100%;
  }

  .team__fig {
    width: 100%;
  }

  .contact__p {
    font-size: 1.5rem;
  }

  .foo__logo {
    font-size: 1rem;
  }
}
